<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ユーザ一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image is-square">
                  <%= link_to user_path(user) do %>
                    <% if user.profile_image? %>
                      <%= image_tag user.profile_image.to_s, :class => "profile_image", :alt => 'プロフィール画像' %>
                    <% else %>
                      <%= image_tag "no-profile-image.png", :class => "profile_image", :alt => 'プロフィール画像' %>
                    <% end %>
                  <% end %>
                </figure>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to user.name, user_path(user) %></div>
                </div>
              </div>
              <div class="content">
                投稿数：<%= user.posts.count %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<div class="paginate">
<%= paginate @users %>
</div>