<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% posts.each do |post| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image.url %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <% if post.user.image? %>
                      <%= image_tag post.user.image.url %>
                    <% else %>
                      <%= image_tag "no-profile-image.png" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%=link_to post.user.name, user_path(post.user) %></div>
                </div>
              </div>

              <div class="content">
                <time><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
              
              <div class="favorites">
                <% if logged_in? %>
                  <% if current_user.like?(post) %>
                    <%= link_to post_favorites_path(post), method: :delete do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to post_favorites_path(post), method: :post do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                <% else %>
                  <i class="far fa-heart"></i>
                  <%= post.favorites.count %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
